.tests-list-container {
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.loading-text,
.no-tests-text {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #a0a7d3;
}

.tests-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.test-card {
    display: grid;
    grid-template-columns: 0.4fr 0.7fr 0.8fr 0.8fr 0.5fr 0.5fr 0.6fr 0.5fr;
    align-items: center;
    background-color: #2a2f45;
    border-radius: 10px;
    padding: 12px 18px;
    gap: 15px;
    font-size: 1rem;
    color: #d5deea;
    border: 1px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.test-card.header-row {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #4a5175;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #c0caff;
}

.test-card.data-row:hover {
    border-color: #6a6fbf;
}

.test-id,
.test-dataset,
.test-llm-model,
.test-correct-answers,
.test-accuracy,
.test-CI,
.test-time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.test-id, .test-correct-answers, .test-accuracy, .test-CI, .test-time {
    text-align: center;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.create-button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: #6db588;
    color: #e0e4ff;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
}

.create-button:hover {
    background-color: #45875f;
}

.details-button, .delete-button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
    color: #e0e4ff;
}

.details-button {
    background-color: #5396ca;
}
.details-button:hover {
    background-color: #4479b6;
}

.delete-button {
    background-color: #9a4c4c;
}
.delete-button:hover {
    background-color: #783c3c;
}

.details-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

.delete-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
}



.evaluations-controls {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.control-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.control-group label {
    font-size: 0.9rem;
    color: #c0caff;
    font-weight: 500;
    white-space: nowrap;
}