.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 12vw;
    min-width: 250px;
    flex-shrink: 0;
    background-color: #363C58;
    padding: 0.5em;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 2px solid rgb(109, 126, 156);
    margin-bottom: 1em;
}

.sidebar-logo {
    width: 50px;
    height: 50px;
    margin-right: 1em;
}

.sidebar-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s ease;
}

.menu-item:hover {
    background-color: #2e3249;
}

.menu-item.active {
    background-color: rgba(150, 167, 255, 0.3);
    font-weight: 700;
}

.menu-item:hover svg {
    transform: scale(1.2);
}

.sidebar-menu > .menu-item:nth-last-child(2) {
    margin-top: auto;
}

.sidebar-menu > .menu-item:nth-last-child(1) {
    margin-bottom: 2em;
}

.sidebar-user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.65rem;
    background-color: rgba(74, 79, 104, 0.76);
    padding: 1rem;
    border-radius: 15px;
    margin: 0 0.5rem 3rem;
    color: #d6d9f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar-user-avatar {
    width: 45px;
    height: 45px;
    background-color: #96a7ff;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    color: #363C58;
    font-size: 1.5rem;
    font-weight: bold;
    flex-shrink: 0;
}

.sidebar-user-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidebar-user-name {
    font-weight: bold;
    color: #e0e4ff;
    line-height: 1.2;
}

.sidebar-user-email {
    font-weight: lighter;
    color: #e0e4ff;
    font-size: 0.9em;
}