.search-container {
    display: flex;
    align-items: center;
    width: 400px;
    height: 38px;
    background-color: #363c58;
    border-radius: 13px;
    margin: 2rem auto 0.5rem;
}

.search-icon {
    color: white;
    margin-top: 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.search-icon:hover {
    transform: scale(1.2);
}

.search-input::placeholder {
    color: #dadada;
}

.search-input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
}

.pdatasets-available-text {
    text-align: center;
    color: #c7cded;
    font-size: 14px;
    margin-bottom: 2rem;
}

.loading-text,
.no-pdatasets-text {
    text-align: center;
    color: #b0b8e0;
    font-size: 16px;
    grid-column: 1 / -1;
    margin-top: 2rem;
}

.pdatasets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto 4rem;
}

.pdataset-card {
    background-color: #2f354c;
    padding: 1.5rem;
    border-radius: 15px;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out;
}

.pdataset-card:hover {
    transform: scale(1.02);
}

.pdataset-name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    color: #f1f2ff;
    cursor: pointer;
    text-decoration: none;
}

.pdataset-name:hover {
    color: #b1baf3;
    text-decoration: underline;
}


.pdataset-description {
    font-size: 0.9rem;
    color: #b0b8e0;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.pdataset-owner {
    font-size: 0.85rem;
    color: #99A8FF;
    margin-top: auto;
    font-style: italic;
}

.pdataset-footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.download-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #4a61dd;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #3b4fb0;
}

.download-icon {
    width: 16px;
    height: 16px;
    color: white;
}

.download-button:disabled {
    background-color: #555a75;
    cursor: not-allowed;
    opacity: 0.6;
}

.page-alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}