.results-list-container {
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.loading-text,
.no-results-text {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #a0a7d3;
}

.results-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.result-card {
    display: grid;
    /* ID, Question, OptA, OptB, OptC, OptD, LLM Ans, Time*/
    grid-template-columns: 0.4fr 1.2fr 1fr 1fr 1fr 1fr 0.6fr 0.6fr 1fr;
    align-items: center;
    background-color: #2a2f45;
    border-radius: 10px;
    padding: 17px 1px;
    gap: 15px;
    font-size: 1rem;
    color: #d5deea;
    border: 1px solid transparent;
    transition: height 0.3s ease, background-color 0.2s ease, border-color 0.2s ease;
    overflow: hidden;
}

.result-card.header-row {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #4a5175;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #c0caff;
}

.result-card.data-row:hover {
    border-color: #6a6fbf;
}

.result-card.expanded {
    height: auto;
    align-items: flex-start;
}

.result-id,
.result-question,
.result-option,
.result-llm-answer,
.result-correct-answer,
.result-time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.result-id { text-align: center; }
.result-llm-answer, .result-correct-answer { text-align: center; font-weight: bold; }
.result-time {text-align: center}
.result-llm-answer.correct { color: #52b574; }
.result-llm-answer.incorrect { color: #b56c6c; }

.result-card.expanded .result-question,
.result-card.expanded .result-option{
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

@media (max-width: 1400px) {
    .result-card {
        grid-template-columns: 0.4fr 1.5fr 1fr 1fr 1fr 1fr 0.8fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 1100px) {
    .result-card {
        grid-template-columns: 0.4fr 2fr 0.8fr 1fr;
    }
    .result-option, .result-option.header
}
