asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-encrypted-model-fields
PyJWT
pytz
sqlparse
dj_database_url
psycopg2-binary
python-dotenv
openai
pandas
requests
regex
scikit-learn
statsmodels
gunicorn