/* Login.css */

.login-bg-container {
    background-image: url("../../assets/login-bg.png");
    height: 100vh;
    width: 100vw;
    background-color: #23273A;
    background-size: 100%;
    background-position: center;
    display: flex;
}

.hero-text-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #96AEFF;
}

.hero-text {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: start;
    line-height: 1.2;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container {
    width: 30%;
    height: 100%;
    background-color: rgb(107, 114, 246, 0.7);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-text {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    padding: 5%;
}

.input {
    width: 60%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ffffff;
    color: #1a1a1a;
    margin-bottom: 1.5em;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.2);
    transition: 300ms ease-in-out;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    color: #1a1a1a;
    font-weight: bold;
}

.login-button {
    width: 65%;
    padding: 0.5em;
    border-radius: 15px;
    background-color: #2b2b2b;
    color: #ffffff;
}

.secondary-text {
    color: #ffffff;
    font-size: 16px;
    margin-top: 1em;
    font-weight: normal;
}

.secondary-text a {
    color: #000000;
    text-decoration: none;
}

.secondary-text a:hover {
    color: #000000;
    text-decoration: underline;
}

