.datasets-list-container {
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.loading-text,
.error-text,
.no-datasets-text {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #a0a7d3;
}

.upload-button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: #6db588;
    color: #e0e4ff;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
}

.datasets-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.dataset-card {
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 1.5fr 0.5fr 1.5fr;
    align-items: center;
    background-color: #2a2f45;
    border-radius: 10px;
    padding: 12px 18px;
    gap: 15px;
    font-size: 1rem;
    color: #d5deea;
    border: 1px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.dataset-card.header-row {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #4a5175;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #c0caff;
}


.dataset-card.data-row:hover {
    border-color: #6a6fbf;
}

.dataset-id,
.dataset-name,
.dataset-description,
.dataset-questions{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.dataset-id { text-align: center; }
.dataset-questions {text-align: center;}


.button-container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.details-button {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: #6492b6;
    color: #e0e4ff;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
}

.details-button:hover {
    background-color: #4479b6;
}

.details-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.share-button {
    background-color: #a06dd6;
    color: white;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 6px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0.5rem;
}

.share-button:hover {
    background-color: #6b59a3;
}

.delete-button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: #9a4c4c;
    color: #e0e4ff;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
}

.delete-button:hover { background-color: #783c3c; }

.custom-success-alert{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: fit-content;
    max-width: 80%;
    background-color: #68c36d !important;
    color: #fff !important;
}